/* /* nav {
  display: flex;
  position: fixed;
  background-color: rgb(255, 255, 255);
}
nav a {
  color: #000000;
}

*/
/* nav a + a {
  margin-left: 1rem;
} 

walletDiv {
  position:absolute;
  top:0;
  right:0;
}  */

.logo {
  height: 50px;
  width: 50px;
  position: relative;
  top: -5px;
}

.signButton,
p {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.main {
  margin-left: 15px;
}
